<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.aluno.computershop">

    <application
        android:allowBackup="true"
        android:icon="@drawable/info"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".PagamentoPayPal"></activity>
        <activity android:name=".PagamentoCartao" />
        <activity android:name=".PagamentoBoleto" />
        <activity android:name=".ComprarItem" />
        <activity android:name=".ItemSelecionado" />
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>